<div class="container main-container">

    <div class="row text-center">
        
        <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <img src="/assets/imagem" height="164px" width="253px" alt="">
                    </div>
                </a>
                
                <div class="card-body">
                    <h4 class="card-title">Nome produto</h4>
                    <p>Por apenas:</p>
                    <div><h4>5000</h4></div>
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary">
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
