@using AspNetCoreIdentity2.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo!</p>

@{
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Você só verá isso se tiver permissão de adicionar</p>
    }
}

<div>
    @Html.ActionLink("Secret","Secret").IfClaimShow(Context,"Produtos","Aaadicionar")
</div>

<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos","Adicionar"))">Excluir</a>
</div>
